body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body,h2,input, pre {
    font-family: Monaco, monospace;
    font-size: 12px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

.reset-fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
.lab__background {
    background: #000;
}

.lab2__background {
    
    background: url(../images/computerlab_background.png) no-repeat center center fixed;
    background-size: cover;
    background-color:#000;
}

.lab__video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
}

.modules {
    color: #ffffff;
    width: 74%;
    display: block;
    
    -webkit-transition: opacity 0.6s cubic-bezier(.83,.16,.19,.79);
    -moz-transition: opacity 0.6s cubic-bezier(.83,.16,.19,.79);
    -ms-transition: opacity 0.6s cubic-bezier(.83,.16,.19,.79);
    -o-transition: opacity 0.6s cubic-bezier(.83,.16,.19,.79);
    transition: opacity 0.6s cubic-bezier(.83,.16,.19,.79);
}


.inverted__text {
    font-weight: normal;
    color:#000;
    background: #fff;
    text-align: center;
    padding: 0.5em;
    margin: 0;
}

.inverted__text a {
    color:#000;
    text-decoration: none;
}


.modules legend {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 3em;
}

.modules__legend h2 {
    line-height: 3em;
    padding: 0;
}
.modules__legend dt {
   position: relative;
   border: 1px solid #fff;
   padding: 0.5em;
   margin-bottom: 1em;
   text-align: center;
   line-height: 2em;
}

.modules__legend dd {
    display: none;
}

.modules__start {
    font-family: Monaco, monospace;
    display: block;
    width:100%;
    background: #fff;
    border: none;
    padding: .5em;
    margin-top: 5em;
    line-height: 2em;
    cursor:pointer;
}

.modules__selector__wrapper {
    width: 100%;
    border: 1px #fff solid;
}

.modules__selector {
   
   border:none;
    margin: 0;
    padding: 0;
}

.modules__selector svg {
    width: 100%;
}

.modules__legend_wrapper {
    width: 100%;
}

.padding-medium {
    padding:2em;
}

.padding-large {
    padding:3em;
}

.hidden {
     opacity: 0;
}

.border-white {
    border: 1px solid #fff;
}

.border-white-left{
    border-left: 1px solid #fff;
}
.border-white-right{
    border-right: 1px solid #fff;
}

.border-white-bottom{
    border-bottom: 1px solid #fff;
}

.modules__inputs {
    padding:3em;
    display: none;
    
}

.modules__inputs fieldset {
    border: 1px solid #fff;
}

.modules__reset a {
    text-decoration: none;
}

@media only screen and (min-width: 1024px) {

    .modules {
        display: flex;
    }
    
    .modules__selector__wrapper {
        width: 66%;
    }
    .modules__legend_wrapper {
        width: 33%;
        padding: 0 0 2em 2em;
    }
  }


.entry {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    width: 74%;

}

.entry__modules {
    width: 80%;
}
.entry__modules h2 {

    line-height: 3em;
    margin: 0 0 2em;
    padding: 0;
 
}

.entry__points {
    width: 17%;
    text-align: right;
    line-height: 3em;
    padding-left: 3%;
}

.entry__points span {
    line-height: 2em;
    background: #F3D777;
    display: block;
}

.entry__text {
    width: 60%;
    line-height: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.entry__text p {
    margin:  0 0 2em;
}

.entry__text-scroll {

    border-top: 2px dashed #fff; 

    height: 445px;
    overflow-x : hidden;
    overflow-y: auto;

    padding-top: 2em;
}

.entry__graphic {
    width: 37%;
    padding-left: 3%;
}

.entry__graphic img {
    width: 100%;
}

.entry__actions  {
    margin: 2em 0 0;
    width: 100%;
    display: flex;
    cursor: pointer;
}

.entry__action-controls {
    width: 60%;
}

.entry__action-menu {
    width: 30%;
    padding-left: 10%;
}

.entry__action-delete .inverted__text {
    color: #fff;
    background: red;
}

.entry__action span {
    display: block;
}
.underline {
    padding-bottom: 2px;
    border-bottom: 2px dashed #fff;
}

.zoomOnHover {
    transition: transform .2s;
    opacity: 0.5;
}

.zoomOnHover:hover {
    transform: scale(1.01);
    opacity: 1; 
}

.two_col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.columns {
 display: block;
}

.column__half, .column__half--left, .column__half--right {
    width: 100%;
}

@media only screen and (min-width: 1024px) {

    .columns {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .column__half {
        width: 50%;
    }
    .column__half--left {
        width: 48%;
        margin-right: 2%;
    }
    .column__half--right{
        width: 48%;
        margin-left: 2%;
    }

}

.noticeboard__title {
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 1em;
    border-bottom: 2px dashed #fff; 
    font-size: 16px;
    margin-top: 0;
}

.noticeboard__graphic {
    float: left;
    width: 35%;
    margin: 0.5em 1em 0 0;
}

.noticeboard__graphic img{
    width: 100%;
}

.noticeboard__message, .console__text {
    line-height: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.conversation__col, .half_col {
    width: 50%;
}

.conversation__col--right {
    width: 47%;
    margin-left: 3%; 
}

.conversation__service {
    text-align: center;
}

.conversation__timestamp {
    text-align: center;
}

.conversation__title {
    text-transform: uppercase;
}

.conversation__speech {
    padding: 1em;
    margin: 2em;
    position: relative;
    text-transform: uppercase;
}

.conversation__speech--left {
    color: #F3D777;
    border: 2px #F3D777 solid;
    margin-right: 6em;
}

.conversation__speech--left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 70%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: #F3D777;
	border-left: 0;
	border-bottom: 0;
	margin-top: -7.5px;
	margin-left: -16px;
}

.conversation__speech--right {
    border: 2px #fff solid;
    margin-left: 6em;
}

.conversation__speech--right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 73%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-left-color: #fff;
	border-right: 0;
	border-bottom: 0;
	margin-top: -7.5px;
	margin-right: -15px;
}

.conversation__post {
    border: 1px solid #fff; 
    padding: 1em;
    margin: 1em 1em 2em;
}

.conversation__post__actions {
    border-bottom: 1px #F3D777 solid;
    padding-bottom: 1em;
}

.conversation__post__actions.no-comments {
    border:none;
    padding-bottom: 0;
}

.conversation__post__avatar {
    float: left;
    width: 60px;
    border: 1px #F3D777 solid;
    margin-right: 1em;
}

.conversation__post__avatar img {
 width: 100%;
}

.conversation__post__image img {
    width: 100%;
}

.conversation__post__meta {
    padding-bottom: .5em;
}

.conversation__post__useraction {
    color:#F3D777;
}

.conversation__post__timestamp {
    font-size: 10px;
}

.conversation__comments {
    margin-top: 1em;
    padding-top: 1em; 
}

.conversation__comment {
    clear: both;
}
.conversation__post__text {
    margin:0 0 2em 6em;

}
.conversation__comment .conversation__comment__text {
    margin:0 0 0 6em;
    color:#F3D777;
    min-height: 4em;
}

.conversation__comment {
    padding-left:3em;
    margin: 0 0 2em;
}

.reviews__title{
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.review__title, .review__author {
    font-size: 14px;
    font-weight: normal;
}

.review {
    border-top: 1px #fff solid;
    padding-top:1em; 
}

.review__content{
    color:#F3D777;
}

.review__legal {
    font-size: 9px;
}

.menu .menu__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    padding: 1em;
    border-bottom: 1px solid #fff;
}

.menu .menu__course__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0.5em 1em;
}

.menu .menu__course__text {
    color: #F3D777;
    text-align: center;
    padding: 0.5em 1.5em 2em;
    margin: 0;
}

.menu__course__inverted {
    background:#fff;
    color: #000;
    padding: .5em;
    margin: 0;
}

.menu__course__inverted .menu__course__text {
    color: #000;
}

.menu__thankyou {
    text-align: center;
    padding: 5em !important;
}

.datalog__fragment {
    white-space: pre-wrap; 
}

.datalog__fragment--highlight {
    color:#9dcb8c;
}

.datalog__fragment--meta {
    color:#a5ddec;
}

.datalog__fragment--warning {
    color:#f47f52;
}

.play__script dt {
    color:#a5ddec;
}
