body, html {
	height: 100%;
}

body {
	font-family: sans-serif;
}

div.modules {
	height: 500px;
    width: 500px;
}

div.modules svg {
    width: 100%;
}

.lab__background {
	background: url(../images/computerlab_background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
