body, html {
	height: 100%;
}

body {
	font-family: sans-serif;
}

div.modules {
	height: 500px;
    width: 500px;
}

div.modules svg {
    width: 100%;
}

.lab__background {
	background: url(../images/computerlab_background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.lab__video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
}
